<header class="site-header">
  <div class="wrapper">
    <div class="site-branding">
      <img src="{{ '/assets/images/adventyrLogo.JPG' | relative_url }}" alt="Adventyr Logo" class="site-logo">
    </div>
    
    <nav class="site-nav">
      <a class="page-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
      <a class="page-link {% if page.url contains 'services' %}active{% endif %}" href="{{ '/services' | relative_url }}">Services</a>
      <a class="page-link {% if page.url contains 'pricing' %}active{% endif %}" href="{{ '/pricing' | relative_url }}">Pricing</a>
      <a class="page-link {% if page.url contains 'about' %}active{% endif %}" href="{{ '/about' | relative_url }}">About</a>
      <a class="page-link {% if page.url contains 'contact' %}active{% endif %}" href="{{ '/contact' | relative_url }}">Contact</a>
    </nav>
  </div>
</header>